In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
from sklearn.feature_extraction.text import *
from sklearn.feature_selection import *
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.formula.api as smf
import warnings

#### load and display all rows and columns in data file ####

In [3]:
#load file from CSV
wine = pd.read_csv("wine.csv")
#print all rows and columns from CSV
wine

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

#### Using 10 folds cross validation, develop a KNeighborsClassifier (n_neighbors=13) to predict the type of wine ####

In [4]:
x = wine[[col for col in wine.columns if col != "Wine"]] #values are integers and floats
y = wine[['Wine']]

In [5]:
x

,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [6]:
y

     Wine
0       1
1       1
2       1
3       1
4       1
..    ...
173     3
174     3
175     3
176     3
177     3

[178 rows x 1 columns]

In [34]:
knn = KNeighborsClassifier(n_neighbors= 13)
cvResults = cross_validate(knn, x, y.values.ravel(), cv=10)#, return_estimator = True)
cvResults

scores = cross_val_score(knn, x, y.values.ravel(), cv=10)
print("Accuracy: %0.2f" % scores.mean())

Accuracy: 0.69

In [35]:
y_pred = cross_val_predict(knn, x, y.values.ravel(), cv=cv)
y_pred

array([1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3,
       1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 3,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 2, 3, 2, 2, 3,
       2, 2, 1, 3, 1, 2, 2, 1, 1, 2, 2, 3, 1, 2, 2, 3, 3, 2, 2, 2, 2, 3,
       3, 3, 2, 2, 2, 2, 2, 1, 3, 2, 3, 2, 3, 3, 2, 2, 3, 2, 2, 2, 2, 3,
       3, 2, 3, 2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3,
       3, 3, 3, 2, 3, 2, 3, 3, 3, 1, 2, 3, 1, 1, 2, 3, 3, 3, 3, 2, 2, 3,
       3, 3, 2, 1, 3, 3, 2, 2, 3, 3, 3, 2, 3, 2, 3, 3, 2, 2, 2, 3, 3, 1,
       1, 3], dtype=int64)

In [36]:
print("Calssictaion Report")
cr = classification_report(y, y_pred)
print(cr.split('macro avg')[0])

Calssictaion Report
              precision    recall  f1-score   support

           1       0.81      0.86      0.84        59
           2       0.76      0.62      0.68        71
           3       0.49      0.58      0.53        48

    accuracy                           0.69       178

#### Split the data set into training and testing sets (80-20) and display the shapes of train_x, text_x, train_y and test_y ####

In [37]:
# Split dataset into training set and test set
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2,random_state=456)

In [38]:
print ("shapes")
print (train_x.shape)
print (test_x.shape)
print (train_y.shape)
print (test_y.shape)

shapes
(142, 13)
(36, 13)
(142, 1)
(36, 1)

#### Decision Tree model to predict the type of wine ####

In [39]:
dtc = DecisionTreeClassifier()
dtc.fit(train_x, train_y)
pred_y = dtc.predict(test_x)

print ("f1:{:.2f}%".format(f1_score(pred_y, test_y, average="micro")))
print ("accuracy:{:.2f}%".format(accuracy_score(pred_y, test_y)))
print ("precision:{:.2f}%".format(precision_score(pred_y, test_y, average='micro')))
print ("recall:{:.2f}%".format(recall_score(pred_y, test_y, average='micro')))

f1:0.92%
accuracy:0.92%
precision:0.92%
recall:0.92%

#### Using embedded feature selection technique ####

In [40]:
attributes = [col for col in wine.columns if col != "Wine"]

# partition: train/test = 70/30
train_x, test_x, train_y, test_y = train_test_split(wine[attributes], wine["Wine"], test_size=0.2, random_state=123)

# convert numpy arrays to data frames
df_train_x = pd.DataFrame(train_x, columns=attributes)
df_test_x = pd.DataFrame(test_x, columns=attributes)
df_train_y = pd.DataFrame(train_y, columns=["Wine"])
df_test_y = pd.DataFrame(test_y, columns=["Wine"])

print ("shapes")
print (df_train_x.shape)
print (df_test_x.shape)
print (df_train_y.shape)
print (df_test_y.shape)

print 
attributes
print ("Wine counts")
print (wine["Wine"].value_counts())
print (df_train_y["Wine"].value_counts())
print (df_test_y["Wine"].value_counts())

shapes
(142, 13)
(36, 13)
(142, 1)
(36, 1)
Wine counts
2    71
1    59
3    48
Name: Wine, dtype: int64
2    60
1    51
3    31
Name: Wine, dtype: int64
3    17
2    11
1     8
Name: Wine, dtype: int64

In [41]:
f_val, p_val = chi2(df_train_x, df_train_y["Wine"]) 

# print the Chi-squared valus and p values
df_scores = pd.DataFrame(zip(attributes, f_val, p_val), columns=["feature", "chi2", "p"])
df_scores["chi2"] = df_scores["chi2"].round(2)
df_scores["p"] = df_scores["p"].round(3)
#print df_scores.sort_values("chi2", ascending=False)

# use features with p < 0.05
sel_cols = df_scores[df_scores["p"]<0.10]["feature"].values
print ("\nSelected features: %d" % len(sel_cols))
print (sel_cols)

Selected features: 10
['Alcohol' 'Malic.acid' 'Acl' 'Mg' 'Phenols' 'Flavanoids' 'Proanth'
 'Color.int' 'OD' 'Proline']

In [42]:
dtc = DecisionTreeClassifier()
dtc.fit(df_train_x[sel_cols], train_y)
pred_y = dtc.predict(df_test_x[sel_cols])

print ("f1:{:.2f}%".format(f1_score(pred_y, test_y, average="micro")))

f1:0.92%

In [43]:
sel_cols = df_scores[df_scores["p"]<0.01]["feature"].values
print ("\nSelected features: %d" % len(sel_cols))
print (sel_cols)
#In feature selection it is difficult to get to 5 features they are so close to each other or share similar values.

Selected features: 8
['Malic.acid' 'Acl' 'Mg' 'Phenols' 'Flavanoids' 'Color.int' 'OD' 'Proline']

In [44]:
dtc = DecisionTreeClassifier()
dtc.fit(df_train_x[sel_cols], train_y)
pred_y = dtc.predict(df_test_x[sel_cols])

print ("f1:{:.2f}%".format(f1_score(pred_y, test_y, average="micro")))

f1:0.92%

#### Select features using the ANOVA test between each attribute and the target variable Wine ####

In [45]:
warnings.filterwarnings('ignore')

wine = pd.read_csv("wine.csv")
wine.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [19]:
model = smf.ols(formula='Wine ~ Alcohol + Ash + Proanth + Hue', data=wine)
#selecting 4 random features to test against the target variable wine
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Wine   R-squared:                       0.596
Model:                            OLS   Adj. R-squared:                  0.586
Method:                 Least Squares   F-statistic:                     63.73
Date:                Thu, 15 Dec 2022   Prob (F-statistic):           4.98e-33
Time:                        18:29:00   Log-Likelihood:                -126.10
No. Observations:                 178   AIC:                             262.2
Df Residuals:                     173   BIC:                             278.1
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.5266      0.670     12.727      0.000       7.204       9.849
Alcohol       -0.3096      0.048     -6.459      0.000      -0.404      -0.215
Ash           -0.0559      0.140     -0.399      0.690      -0.332       0.220
Proanth       -0.3929      0.069     -5.655      0.000      -0.530      -0.256
Hue           -1.8865      0.173    -10.899      0.000      -2.228      -1.545
==============================================================================
Omnibus:                        4.640   Durbin-Watson:                   1.018
Prob(Omnibus):                  0.098   Jarque-Bera (JB):                3.524
Skew:                           0.219   Prob(JB):                        0.172
Kurtosis:                       2.467   Cond. No.                         242.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [20]:
results.params

Intercept    8.526634
Alcohol     -0.309590
Ash         -0.055886
Proanth     -0.392939
Hue         -1.886461
dtype: float64

In [21]:
#testing the confidence of each feature selected
results.conf_int()

                  0         1
Intercept  7.204297  9.848971
Alcohol   -0.404198 -0.214981
Ash       -0.332189  0.220417
Proanth   -0.530076 -0.255802
Hue       -2.228086 -1.544836

### Thank you ###